extends layout
 
block content
  h1= title
  - let results = [{Ribbon_type:'Cloth',Ribbon_usedfor:'all',Ribbon_length:100},{Ribbon_type:'sation',Ribbon_usedfor:'occassion',Ribbon_length:200},{Ribbon_type:'metallic',Ribbon_usedfor:'parties',Ribbon_length:900}]
  div(class="container-fluid")
    div(class="row")
      each item, index in results  
        div(class="col-sm-2",onclick=`buy(${index})`)
          p #{item.Ribbon_type}
          p #{item.Ribbon_usedfor}
          p #{item.Ribbon_length}
  script.
    function buy(index) {
    alert("You purchased item " + index);}  
  